/* Reset & General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.vr {

    border-left: 1px solid #cacaca;

    height: relative;
    width: 1px;

}